avrdude/*.a
avrdude/*.diff
avrdude/*.o
avrdude/*.patch
avrdude/.cvsignore
avrdude/.depend
avrdude/.deps
avrdude/INSTALL
avrdude/Makefile
avrdude/Makefile.in
avrdude/ac_cfg.h
avrdude/ac_cfg.h.in
avrdude/aclocal.m4
avrdude/autom4te.cache
avrdude/avrdude
avrdude/avrdude.conf
avrdude/avrdude.conf.tmp
avrdude/avrdude.spec
avrdude/compile
avrdude/config.guess
avrdude/config.log
avrdude/config.status
avrdude/config.sub
avrdude/config_gram.c
avrdude/config_gram.h
avrdude/configure
avrdude/depcomp
avrdude/doc/.cvsignore
avrdude/doc/Makefile
avrdude/doc/Makefile.in
avrdude/doc/avrdude-html
avrdude/doc/avrdude.aux
avrdude/doc/avrdude.cp
avrdude/doc/avrdude.cps
avrdude/doc/avrdude.dvi
avrdude/doc/avrdude.fn
avrdude/doc/avrdude.info
avrdude/doc/avrdude.ky
avrdude/doc/avrdude.log
avrdude/doc/avrdude.pdf
avrdude/doc/avrdude.pg
avrdude/doc/avrdude.ps
avrdude/doc/avrdude.toc
avrdude/doc/avrdude.tp
avrdude/doc/avrdude.vr
avrdude/doc/mdate-sh
avrdude/doc/stamp-vti
avrdude/doc/texinfo.tex
avrdude/doc/version.texi
avrdude/install-sh
avrdude/lexer.c
avrdude/missing
avrdude/mkinstalldirs
avrdude/stamp-h.in
avrdude/stamp-h1
avrdude/windows/.cvsignore
avrdude/windows/.deps
avrdude/windows/Makefile
avrdude/windows/Makefile.in
avrdude/y.output
avrdude/y.tab.h
avrdude/ylwrap
